$breakpoint-tablet: 768px;
.Hero {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  @media (max-width: $breakpoint-tablet) {
    flex-direction: column-reverse;
  }
}
.HeroTextBox {
  width: 70%;
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $breakpoint-tablet) {
    align-items: center;
    justify-content: center;
  }
  .HeadingOne {
    font-weight: 700;
    font-size: xx-large;
    width: 100%;
  }
  .HeadingTwo {
    font-weight: 500;
    font-size: x-large;
    width: 100%;
  }
}
.HeroImage {
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }
  width: 30%;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
